dl.portletWhitePagesPortlet .overlay-trigger {
    display: none;
}

dl.portletWhitePagesPortlet .overlay {
    font-size: 100%;
}

dl.portletWhitePagesPortlet .overlay .odd {
    background: #eee;
}

dl.portletWhitePagesPortlet .overlay dt {
    background: #fff;
    padding: 0;
}

dl.portletWhitePagesPortlet .overlay .image-left {
    margin: 0 1em 0 0;
}

dl.portletWhitePagesPortlet .overlay dd {
    margin: 0 0 1em 2em;
}

.overlay .searchResults h1.documentFirstHeading {
    font-weight: normal;
}
